//
//≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
//≡≡≡≡≡≡   RESET / NORMALISE 1.0                                                                          ≡≡≡≡≡≡≡≡≡≡≡≡
//≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
//*/
* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 10px;
    overflow-y: scroll;
    text-size-adjust: 100%; // Prevent font scaling in landscape while allowing user zoom */
}

body {
    font-size: 100%;
    letter-spacing: 0;
    text-align: left;
}

body,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
img,
label,
input,
select,
blockquote,
fieldset,
legend,
form {
    margin: 0;
    padding: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video,
picture {
    display: block;
}

iframe {
    border: 0 solid transparent;
}

img {
    border: 0;
    display: block;
    max-width: 100%;
}

a {
    img {
        border: 0;
    }
}


main {
    font-size: 2rem;
    width: 100%;
    
    nav {
        background-color: #000000;
        color: #ffffff;
        display: flex;
        padding: 1.5rem;
        
        ul {
            list-style: none;
            display: flex;
            margin-left:auto;
            text-align: right;
            
            li {
                margin-left: 1.5rem;
                
                &:first-child {
                    margin-left: none;
                }
            }
        }
    }
    
    .overview {
        display: flex;
        
        .total {
            margin-right: auto;
        }
        
        h3 {
            span {
                display: block;
            }
        }
    }
    
    table {
        width: 100%;
        border-spacing: 0;
        
        img {
           width: 3rem; 
        }
        
        thead {
            background-color: grey;
            
            th {
                padding: .5rem 1rem;
                color: #ffffff;
            }
        }
        
        tbody {
            td {
                border-bottom: 1px solid grey;
                padding: .5rem 1rem;
            }
        }
    }
}

.coin-container {
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    transform: translateX(100%);
    transition: all 0.5s;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    
    &.show {
        pointer-events: auto;
        transform: translateX(0%);
    }
}

.add-container {
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100%);
    transition: all 0.5s;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    
    &.show {
        pointer-events: auto;
        transform: translateX(0%);
    }
}